
.head{
    width: auto;
    height: 80px;
    padding: 10px;
    position: sticky;
    top: 0;
    background: white;
    border-bottom : 1px solid grey;
    z-index: 100;
}
.navbar{
    width: auto;
    height: 80px;
    display: grid;
    grid-template-columns: 100px 300px auto;

}
.guest{
    padding: 5px;
    width: 50px;
    margin-top: -25px;
    height: 50px;
}
.guest h1{
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: green;
    color: lawngreen;
    align-content: center;
    justify-content: center;
}
.cont{
    width: 200px;
    height: 80px;
    align-content: center;
}
.cont h1{
    font-size: 20px;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
.navbar li{
    padding: 20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.navbar a{
    text-decoration: none;
    color: black;
}
.navbar a:hover{
    color: lawngreen;
    transition: 0.5s;
}
.foot{
    width: auto;
    background: white;
    height: 100px;
    border-top: 1px solid black;
}
.foot h1 ,.foot p{
    text-align: center;
}
.secanimation{
    width: auto;
    object-fit: cover;
    background-size: 100% 100%;
    height: 400px;
    animation: 10s infinite fadein;
    align-content: center;
}
.secanimation h1{
    opacity: 50%;
    color: white;
    text-align: center;
}
.sechome{
    width: auto;
    min-height: 700px;
    background: #f2f2f2;
    padding: 20px;
}
.cont2{
    color: green;
    text-align: center;
    text-decoration: underline;
}
.sec1{
    margin-top: 50px;
    width: auto;
    min-height: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit,340px);
    justify-content: center;
    gap: 60px;
}
.place1{
    width: 340px;
    height: 350px;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid lightgrey;
    box-shadow: 10px 10px 10px lightgrey;
    cursor: pointer;
}
.place1:hover{
    margin-top: -40px;
    transition: 0.5s;
}
.place1 img{
    width: 300px;
    height: 250px;
    border-radius: 30px;
}
.rqlogin{
    background: #f2f2f2;
    width: auto;
    height: 200px;
    align-items: center;
}
.rqlogin button{
    font-family: monospace;
    color: white;
    background: lightgreen;
    border: none;
    width: 600px;
    height: 50px;
    border-radius: 50px;
    font-size: 30px;
    cursor: pointer;
}
.rqlogin button:hover{
    background: green;
    transition: 0.5s;
}
.secform{
    width: auto;
    height: 750px ;
}
.tform{
    backdrop-filter: blur(10px);
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px ;   
}
.tourform{
    background: white;
    width: 500px;
    height: 600px;
    border-radius: 50px;
    
}
.tft h1{
    color: green;
    text-decoration: underline;
}
.tft{
    margin-left: 100px;
}
.tft input{
    outline: none;
}
.tft button{
    margin-top: 10px;
    color: white;
    background: lightgreen;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
}
.tft button:hover{
    background: green;
    transition: 0.5s;
}
.seccart{
    width: auto;
    min-height: 600px;
    padding: 20px;
    background: white;
}
.nocart{
    width: auto;
    height: 600px;   
}
.nocart h1{
    color: darkgreen;
}
.nocart img{
    margin-top: 50px;
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.nocart button{
    color: white;
    background: lightgreen;
    margin-top: 50px;
    border: none;
    width: 300px;
    height: 50px;
    font-size: 22px;
    border-radius: 30px;
    cursor: pointer;
}
.nocart button:hover{
    transition: 0.5s;
    background: green;
}
.cartpdt{
    width: auto;
    min-height: 600px;
    justify-items: center;
}
.cartpdt1{
    background: white;
    border-left: 4px solid green;
    border-radius: 30px;
    width: 600px;
    height: 200px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 10px grey;
}
.cartimg{
    padding: 20px;
    width: 250px;
    height: 160px;
    margin-right: 40px;
    border-right: 1px solid green;
}
.cartimg img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 30px;
}
.cartdetails{
    padding: 10px;
    width: 400px;
    height: 200px;
}
.cartdetails mark{
    color: darkgreen;
    background: transparent;
}
.confirm{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.confirm button{
    width: 100px;
    height: 23px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.rem{
    color: white;
    background: rgb(231, 99, 99);
}
.conf{
    color: white;
    background: lightgreen;
}
.rem:hover{
    background: red;
}
.conf:hover{
    background: green;
}
.secpurch{
    width: auto;
    min-height: 600px;
    padding: 20px;
}
.nopurch{
    margin-top: 50px;
    width: auto;
    min-height: 600px;
}
.nopurch{
    color: darkgreen;
}
.nopurch img{
    width: 400px;
    height: 400px;
}
.nopurch button{
    margin-top: 50px;
    width: 300px;
    height: 60px;
    border: none;
    background: lightgreen;
    color: white;
    font-size: 22px;
    border-radius: 30px;
    cursor: pointer;
}
.nopurch button:hover{
    transition: 0.5s;
    background: green;
}
.purchpdt{
    width: auto;
    min-height: 600px;
    justify-items: center;
}
.purchpdt1{
    border-top: 1px solid green;
    padding: 20px;
    display: flex;
    width: 800px;
    height: 160px;
    border-left: 3px solid green;
    border-radius: 20px 0px 0px 20px;
    gap: 30px;
    margin-top: 30px;
}
.purchimg{
    width: 200px;
    height: 150px;

}
.purchimg img{
    width: 150px;
    height: 150px;
    object-fit: cover;

}
.tttdt{
    width: 200px;
    height: 140px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 10px 10px 10px grey;
    padding: 20px;
    align-content: center;
}
.tourdetails{
    background: rgb(166, 182, 242);
    border-left: 3px solid rgb(28, 0, 128);
}
.hoteldetails{
    background: rgb(146, 246, 146);
    border-left: 3px solid green;
}
.total{
    background: lightyellow;
    border-left: 3px solid yellow;
}
.tttdt mark{
    color: darkgreen;
    background: transparent;
}
.seclog{
    width: auto;
    min-height: 600px;
    padding: 20px;
    justify-items: center;
    background: #f2f2f2;
}
.log{
    margin-top: 50px;
    justify-items: center;
    align-content: center;
    background: white;
    box-shadow: 10px 10px 10px lightgrey;
    width: 500px;
    height: 400px;
    border-radius: 40px;
    padding: 10px;
}
.log h1{
    color: lightgreen;
    text-decoration: underline;
    margin-bottom: 50px;
}
.log input{
    border: none;
    padding: 10px;
    border-bottom: 2px solid lightgreen;
    outline: none;
}
.msg{
    color: red;
}
.log button{
    width: 150px;
    height: 30px;
    margin-top: 20px;
    color: white;
    background: lightgreen;
    border: none;
    border-radius: 30px;

}
.log button:hover{
    cursor: pointer;
}
.log a{
    color: lightgreen;
}
.secreg{
    width: auto;
    min-height: 600px;
    padding: 20px;
    background: #f2f2f2;
    justify-items: center;
}
.reg{
    align-content: center;
    justify-items: center;
    margin-top: 50px;
    border-radius: 30px;
    width: 500px;
    height: 420px;
    box-shadow: 10px 10px 10px grey;
    background: white;
}
.reg h1{
    text-decoration: underline;
    color: lightgreen;
    margin-bottom: 30px;
}
.reg input{
    border: none;
    border-bottom: 2px solid lightgreen;
    outline: none;
    padding: 10px;
}
.reg button{
    margin-top: 30px;
    width: 150px;
    height: 25px;
    color: white;
    background: lightgreen;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}