<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style2.css')}}">
</head>
<style>
    .secform{
        background-image: url("{{url_for('static',filename='chennai/chennai-semmozhi-poonga.png')}}");
    }
    .rqlogin button{
        margin-top: 100px;
    }
    @keyframes fadein {
        0% {
            background-image: url('{{url_for("static",filename="chennai/chennai-rail-museum.png")}}');
            transition: 0.5s;

        }

        25% {
            background-image: url('{{url_for("static",filename="chennai/chennai-guindy-national-park.png")}}');
            transition: 0.5s;
        }

        50% {
            background-image: url('{{url_for("static",filename="chennai/chennai-marina-beach.png")}}');
            transition: 0.5s;
        }

        75% {
            background-image: url('{{url_for("static",filename="chennai/chennai-semmozhi-poonga.png")}}');
            transition: 0.5s;
        }

        100% {
            background-image: url('{{url_for("static",filename="chennai/chennai-snow-kingdom.png")}}');
            transition: 0.5s;
        }
    }
</style>

<body>
    <header class="head">
        <nav class="navbar">
            


            <div class="guest">
                {% if "email" not in session:%}
                <h1>G</h1>
                <p>Guest</p>
                {%else:%}
                <h1>{{session["u_name"][0]}}</h1>
                <p>{{session["u_name"]}}</p>
                {%endif%}
            </div>
            <div class="cont">
                <h1>Tamilnadu Tourism</h1>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/history">History</a></li>
                {%if "email" not in session: %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {%else:%}
                <li><a href="/logout">Logout</a></li>
                {%endif%}
            </ul>



        </nav>
    </header>
    <section class="secanimation">
        <h1>CHENNAI</h1>
    </section>
    <section class="sechome">
        <h1 class="cont2">POPULAR PLACES IN CHENNAI!</h1>
        <div class="sec1">
            <div class="place1">
                <center>
                    <img src="{{url_for('static',filename='chennai/chennai-aringar-anna-zoological-park.png')}}" alt="loading..">
                    <h1>Aringar Anna Zoological Park</h1>
                </center>
            </div>
            <div class="place1">
                <center>
                    <img src="{{url_for('static',filename='chennai/chennai-arupadai-veedu-murugan-temple.png')}}" alt="loading..">
                    <h1>Arupadai Veedu Murugan Temple</h1>
                </center>
            </div>
            <div class="place1">
                <center>
                    <img src="{{url_for('static',filename='chennai/chennai-avenue-mall.png')}}" alt="loading..">
                    <h1>Avenue Mall</h1>
                </center>
            </div>
            <div class="place1">
                <center>
                    <img src="{{url_for('static',filename='chennai/chennai-guindy-national-park.png')}}" alt="loading..">
                    <h1>Guindy National Park</h1>
                </center>
            </div>
            <div class="place1">
                <center>
                    <img src="{{url_for('static',filename='chennai/chennai-iskcon-temple.png')}}" alt="loading..">
                    <h1>Iskcon Temple</h1>
                </center>
            </div>
            <div class="place1">
                <center>
                    <img src="{{url_for('static',filename='chennai/chennai-kapaleeswarar-temple.png')}}" alt="loading..">
                    <h1>Kapaleeswar Temple</h1>
                </center>
            </div>
            <div class="place1">
                <center>
                    <img src="{{url_for('static',filename='chennai/chennai-leela-palace-hotel.png')}}" alt="loading..">
                    <h1>Leela Palace</h1>
                </center>
            </div>
            <div class="place1">
                <center>
                    <img src="{{url_for('static',filename='chennai/chennai-marina-beach.png')}}" alt="loading..">
                    <h1>Marina Beach</h1>
                </center>
            </div>
            <div class="place1">
                <center>
                    <img src="{{url_for('static',filename='chennai/chennai-rail-museum.png')}}" alt="loading..">
                    <h1>Chennai Rail Museum</h1>
                </center>
            </div>
            <div class="place1">
                <center>
                    <img src="{{url_for('static',filename='chennai/chennai-santhome-church.png')}}" alt="loading..">
                    <h1>Santhome Church</h1>
                </center>
            </div>
            <div class="place1">
                <center>
                    <img src="{{url_for('static',filename='chennai/chennai-semmozhi-poonga.png')}}" alt="loading..">
                    <h1>Semmozhi Poonga</h1>
                </center>
            </div>
            <div class="place1">
                <center>
                    <img src="{{url_for('static',filename='chennai/chennai-VGP-marine-kingdom.png')}}" alt="loading..">
                    <h1>VGB Marine Kingdom</h1>
                </center>
            </div>
        </div>
    </section>

    {%if "email" not in session:%}
    <section class="rqlogin">
        <center><button onclick="location.href='/login'">Please Login To Book!..</button></center>
    </section>
    {%else:%}  
    
    
    <section class="secform">
        <div class="tform">
            <div class="tourform">
                <form action="/cart" method="GET" class="tft">
                    <h1>Tour Booking</h1>
                    <input type="text" name="uid" value="{{session['u_id']}}" hidden>
                    <input type="text" name="place" value="Chennai" hidden>
                    <label>Enter No. of Men:</label>
                    <input type="number" name="men" min="0" max="100" required><br><br>
                    <label>Enter No. of Women:</label>
                    <input type="number" name="women" min="0" max="100" required><br><br>
                    <label>Enter No. of Kids:</label>
                    <input type="number" name="children" min="0" max="100" required><br><br>
                    <label>Enter Date:</label>
                    <input type="date" name="tdate" required><br><br>
                    <label>Enter Time:</label>
                    <input type="time" name="ttime" required><br><br>
                    <label>Enter Location:</label>
                    <input type="text" name="dest" required><br><br>
                    <h1>Hotel Booking</h1>
                    <label>Select Hotel:</label>
                    <select name="hname" required>
                        <option value="The Leela Palace">The Leela Palace</option>
                        <option value="Park Hyatt Chennai">Park Hyatt Chennai</option>
                        <option value="Radisson Blue Hotel">Radisson Blue Hotel</option>
                        <option value="The Accord Metropolitan">The Accord Metropolitan</option>
                        <option value="The Raintree Hotel Anna Salai">The Raintree Hotel Anna Salai</option>
                    </select><br><br>
                    <label>Enter No. of Days:</label>
                    <input type="number" name="hdays" min="1" max="50" required><br><br>
                    <label>Enter No. of Rooms:</label>
                    <input type="number" name="hrooms" min="1" max="50" required><br><br>
                    <button type="submit" name="book" value="booked">Book</button>
                </form>
            </div>
        </div>
    </section>
    {%endif%}
    <footer class="foot">
        <h1>Tamilnadu Tourism</h1>
        <p>Copyright © 2024 Tamilnadu Tourism. All rights reserved</p>
    </footer>
</body>

</html>